{% extends 'portfolio/base.html' %}
{% block content %}
{% load static %}
<style>
body, html {
    height: 100%;
}

@font-face{
  src: url("{% static 'portfolio/StrawberryCupcakes.ttf' %}");
  font-family: nos;
}

.p1 {
  font-family: nos;
}

.p2 {
  font-family: 'Ubuntu', sans-serif;
}
/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("{% static 'portfolio/pic-2.jpg' %}");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: 50% 28%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: white;
}
</style>
<div class="hero-image">
  <div class="hero-text">
    <h1 class="p1" style="font-size:80px">I'm Saiyan Ahmed</h1>
    <p class="p2" style="font-size:25px">Welcome to my website</p>
    <a href="mailto:shyanahamed00@gmail.com" class="btn btn-primary my-2">Email Me</a>
  </div>
</div>

<main>

  <!-- <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Hi I'm Saiyan Ahmed</h1>
        {% load static %}
        <img src="{% static 'portfolio/pic-2.jpg' %}" class="img-fluid rounded mx-auto d-block" alt="Responsive image">

        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
        <p>
          <a href="#" class="btn btn-primary my-2">Main call to action</a>
          <a href="#" class="btn btn-secondary my-2">Secondary action</a>
        </p>
      </div>
    </div>
  </section> -->
  <div class="album py-5 bg-light">
    <div class="container">
      <h1 class="p2 text-center">Portfolio</h1>
      <hr><br>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      	{% for project in projects %}
        <div class="col">
          <div class="card shadow-sm">
           <img class="card-img-top" src="{{project.image.url}}">
            <div class="card-body">
              <h3>{{project.title}}</h3>
              <p class="card-text">{{project.description}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                {% if project.url %}
                  <a class="btn btn-sm btn-outline-secondary" href="{{project.url}}">View</a>
                {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
       {% endfor %}
      </div>
    </div>
  </div>

</main>

{% endblock %}