{% extends 'portfolio/base.html' %}
{% block content %}

<style>
.container {
    margin-right: auto;
    margin-left: auto;
}

.counter-box {
    display: block;
    background: #f6f6f6;
    padding: 20px 20px 20px;
    text-align: center;
}

.counter-box p {
    margin: 5px 0 0;
    padding: 0;
    color: #909090;
    font-size: 25px;
    font-weight: 500
}

.counter-box i {
    font-size: 60px;
    margin: 0 0 15px;
    color: #d2d2d2
}

.counter {
    display: block;
    font-size: 40px;
    font-weight: 700;
    color: #666;
    line-height: 28px;
}

.counter-box.colored {
    background: #87CEFA
}

.counter-box.colored p,
.counter-box.colored i,
.counter-box.colored .counter {
    color: #fff
}

      #intro {
        /* Margin to fix overlapping fixed navbar */
        margin-top: 58px;
      }
      @media (max-width: 991px) {
        #intro {
          /* Margin to fix overlapping fixed navbar */
          margin-top: 45px;
        }
      }
</style>

  <main class="album py-5 bg-light">
    <div class="container">
      <!--Section: Content-->
      <section class="text-center">
        <h1 class="mb-5"><strong>Latest Posts</strong></h1>
        <hr>
          <!-- <div class="container">
              <div class="row"> -->
                  <!-- <div class="four col-md-3"> -->
                      <div class="counter-box colored"> <i class="fa fa-thumbs-o-up"></i> <span class="counter">{{blogs.count}}</span>
                          <p>Blog{{blogs.count|pluralize}}</p>
                      </div><br>
                      <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:{{blogs.count}}%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                  <!-- </div> -->
            <!--   </div>
          </div> -->
         <br><br>

        <div class="row">
        {% for blog in blogs %}
          <div class="col-lg-4 col-md-12 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h2 class="card-title">{{blog.title}}</h2>
                <p class="card-date">{{blog.date|date:'M d Y'}}</p>
                <p class="card-text">{{blog.description|striptags|truncatechars:100}}</p>
                <a href="{% url 'blog:detail' blog.id %}" class="btn btn-primary">Read</a>
              </div>
            </div>
          </div>
          {% endfor %}
         </div>

      </section>
      <!--Section: Content-->
    </div>
  </main>

<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"></script>
<script type="text/javascript">
  $(document).ready(function() {

$('.counter').each(function () {
$(this).prop('Counter',0).animate({
Counter: $(this).text()
}, {
duration: 4000,
easing: 'swing',
step: function (now) {
$(this).text(Math.ceil(now));
}
});
});

});
</script>

{% endblock %}